

/* tableStyle */

th, td {
  padding-left: 10px;
  padding-right: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* blockquoteStyle */

blockquote {
  border: 1px solid black;
  padding: 10px;
  background-color: lightyellow;
}

/* codeStyle */

pre {
  border: 1px solid black;
  padding: 10px;
  background-color: #EEEEEE;
}

code.inlinecode {
  background-color: #EEEEEE;
}

/* hljs */

.hljs {
  background-color: #EEEEEE;
}

